<h3>{{username}}</h3>

<img src="/images/cats-in-barcelona.jpeg" alt="cat">

<form action="/auth/private" method="GET">
  <button type="submit">Private</button>
</form>

<form action="/auth/login" method="GET">
  <button type="submit">Back</button>
</form>